.todo-list {
    margin-bottom: 20px;
}

.todo {
    font-size: 100px;
}

/* .todo .button {
    font-size: 50px;
    margin-right: 50px;
    cursor: pointer;
} */

.todo .todo-input {
    font-size: 60px;
}

#todo-list {
    font-size: 50px;
}